# Backend
Backend/node_modules
Backend/.env

# Frontend
Frontend/node_modules
Frontend/.env
Frontend/build
Frontend/dist

# Logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store

# Editor files
.vscode
.idea
