@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen text-black;
  background: linear-gradient(
    135deg,
    #aee884,  /* sky-100 */
    #aee884,  /* sky-200 */
    #aee884   /* sky-300 */
  );
}